<html>
  <head>
    <title>Todo App</title>
    <style>
        ul {
            list-style: none;
            padding: 0;
            margin: 0;
            width: 300px;
        }
        li {
            clear: both;
        }
        li button {
            -webkit-appearance: none;
            border: none;
            outline: none;
            color: red;
            float: right;
            cursor: pointer;
            font-size: 20px;
        }
        .lists-wrapper, .todos-wrapper {
            display: inline-block;
            vertical-align: top;
        }
        .todos-wrapper{
            background-color: rgb(218, 218, 218);
        }
    </style>
  </head>

  <body>
    <div class="lists-wrapper">
        <h2>TODO LISTS</h2>

        <form id="list-form">
            <label>New List</label>
            <input type="text" id="list-name" name="list-name">
            <input type="submit" id="submit" value="create">
        </form>

        <ul id="lists">
            {% for list in lists %}
            <li>
                <a href="/lists/{{ list.id }}">{{ list.name }}</a>
            </li>
            {% endfor %}
        </ul>
    </div>

    <div class="todos-wrapper">
        <h2> TODO ITENS</h2>
        <form id="todo-form">
            <label>New Task</label>
            <input type="text" id="description" name="description">
            <input type="submit" id="submit" value="create">
        </form>

        <h4>-> {{ active_list.name }}</h4>
        <input type="hidden" id="active_list_id" value="{{ active_list.id }}">

        <ul id="todos">
        {% for todo in todos %}
        <li>
            <input class="check-completed" data-id="{{ todo.id }}" type="checkbox" 
            {% if todo.complete %} checked {% endif %}/> 
            {{ todo.description }}
            <button class="delete-item" data-id="{{ todo.id }}">&cross;</button>
        </li>
        {% endfor %}
        </ul>

    </div>
    
    <script>
        // CRUD routes ToDo's
        const deleteItens = document.querySelectorAll('.delete-item');
        for (let i = 0; i < deleteItens.length; i++){
            const deleteItem = deleteItens[i];
            deleteItem.onclick = function(e) {
                console.log('event', e);
                const todoID = e.target.dataset['id'];
                fetch('/todos/' + todoID + '/delete-todo', {
                    method: 'DELETE'
                })
                .then(response => response.json())
                .then(data => {
                    if (data.success) {
                        location.reload();
                    } else {
                        alert('Error deleting');
                    }
                })
            }
        }

        const checkboxes = document.querySelectorAll('.check-completed');
        for (let i = 0; i < checkboxes.length; i++) {
            const checkbox = checkboxes[i];
            checkbox.onchange = function(e) {
                console.log('event', e);
                const newCompleted = e.target.checked;
                const todoID = e.target.dataset['id'];
                fetch('/todos/' + todoID + '/set-completed', {
                    method: 'POST',
                    body: JSON.stringify({
                        'completed': newCompleted
                    }),
                    headers: {
                        'Content-Type': 'application/json'
                    }
                })
            }
        }

        document.getElementById('todo-form').onsubmit = function(event) {
            event.preventDefault();
            const listId = document.getElementById('active_list_id').value;
            fetch('/lists/' + listId + '/todos/create', {
                method: 'POST',
                body: JSON.stringify({
                    'description': document.getElementById('description').value
                }),
                headers: {
                    'Content-Type': 'application/json'
                }
            })
            .then(function(response) {
                return response.json();
            })
            .then(function(jsonResponse) {
                console.log(jsonResponse);
                const liItem = document.createElement('LI');
                liItem.innerHTML = jsonResponse['description'];
                document.getElementById('todos').appendChild(liItem);
            })
        }

        //CRUD routes LISTS
        document.getElementById('list-form').onsubmit = function(event) {
            event.preventDefault();
            fetch('/lists/create', {
                method: 'POST',
                body: JSON.stringify({
                    'name': document.getElementById('list-name').value
                }),
                headers: {
                    'Content-Type': 'application/json'
                }
            })
            .then(function(response) {
                return response.json();
            })
            .then(function(jsonResponse) {
                console.log(jsonResponse);
                const liItem = document.createElement('LI');
                liItem.innerHTML = jsonResponse['name'];
                document.getElementById('lists').appendChild(liItem);
            })
        }


    </script>
  </body>
</html>
